<h1>{{title}}</h1>
    <div class="cart page">
        Order placed successfully!
    </div>
    <div class="text-left">
    </div>
    <hr>
    <div class="text-right">
        <div class="text-right">
        <a href="http://localhost:3001/" type="button" class="btn btn-success">Order more items</a>
    </div>
    </div>

